#ItemDetailContainer{
    background-color: #343a40;
}
#Container {
    background-color: #343a40;
}

@media (min-width: 1200px) {
    #ItemDetailContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    #Container {
        display: flex;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 5rem;
        margin-bottom: 15rem;
        justify-content: center;
    }
  }