@media (min-width: 1200px) {
    #cardDetail {
        display: grid;
        width: 45rem;
        justify-content: center;
    }
    #CarouselItemDetail{
        align-items: center;
        width: 45rem;
    }

    #Contador {
        display: grid;
        justify-content: center;
        margin-top: 1rem;
        grid-template-columns: 1fr;
    }
  }