.cart_logo {
    color: rgb(209, 209, 61);
    font-size: 35px;
    width: 30px;
    margin: 15px;
}

.cart_logo:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.623);
}

.contador_carrito {
    color: white;
    font-size: 25px;
    margin-right: 20px;
}