#cardsAutos {
    margin: 30px;
    font-size: 20px;
    background-color: #495057;
    color: white;
}

/* #imgCards {
    width: 350px;
    height: 250px;
} */

#btnCards {
    display: grid;
    grid-template-columns: 3fr;
}

@media (min-width: 1000px) {
    #imgCards {
        width: 350px;
        height: 250px;
    }
  }

